<a href="https://colab.research.google.com/github/ErenB02/comp_bio/blob/Lectures/LAB3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load the Dataset

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/andvise/DataAnalyticsDatasets/refs/heads/main/titanic.csv")
df.dtypes

PassengerId                  int64
Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard    float64
Fare                       float64
dtype: object

## Replace the categorical columns with numerical

In [ ]:
df['Sex'].replace(['male', 'female'],
                        [0, 1], inplace=True)

<ipython-input-28-180a2eae441c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace(['male', 'female'],
<ipython-input-28-180a2eae441c>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace(['male', 'female'],

## Delete the columns that are not needed

In [ ]:
del df['PassengerId']
del df['Name']

## Scale the columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
#Need to save colnames into object due to scaling step
col_names = df.columns
#Scales the values in the df
df = scaler.fit_transform(df)

#Return the df object and assign colnames again with the new scaled values
df = pd.DataFrame(df)
df.columns = col_names

scaled_p = scaler.transform([[1, 0, 1, 76, 0,0,20]])
scaled_p

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[ 1.        , -0.5       ,  1.        ,  0.94973611,  0.        ,
         0.        ,  0.0390374 ]])

In [ ]:
#absolute value when df corresponding values with new scaled_p is taken away
#The above is then summed across each row (axis=1)
#sort all these values (default = ascending)
abs(df - scaled_p).sum(axis=1).sort_values()

11     0.738972
825    0.793036
792    0.850854
858    0.863420
273    0.901485
         ...
384    5.453286
322    5.633743
842    5.658875
200    5.671441
158    5.822232
Length: 887, dtype: float64

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/andvise/DataAnalyticsDatasets/refs/heads/main/titanic.csv")
df.iloc[11]

PassengerId                                     12
Survived                                         1
Pclass                                           1
Name                       Miss. Elizabeth Bonnell
Sex                                         female
Age                                           58.0
Siblings/Spouses Aboard                          0
Parents/Children Aboard                        0.0
Fare                                         26.55
Name: 11, dtype: object

## Replace columns with multiple values

In [ ]:
df_coffee = pd.read_csv("https://github.com/andvise/DataAnalyticsDatasets/blob/main/coffee.csv?raw=true")

df_coffee['CodingWithoutCoffee'].unique()

array(['Yes', 'No', 'Sometimes'], dtype=object)

In [ ]:
df_coffee['CodingWithoutCoffee'].replace(['Yes', 'No', 'Sometimes'],
                        [0, 2, 1], inplace=True)

<ipython-input-56-21b888a9119b>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_coffee['CodingWithoutCoffee'].replace(['Yes', 'No', 'Sometimes'],
<ipython-input-56-21b888a9119b>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_coffee['CodingWithoutCoffee'].replace(['Yes', 'No', 'Sometimes'],