<a href="https://colab.research.google.com/github/ErenB02/minecraft2/blob/Labs(DM)/Lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CS6405 - Lab 07

Consider the Sonar dataset:
http://archive.ics.uci.edu/ml/datasets/connectionist+bench+(sonar,+mines+vs.+rocks)

This dataset is used for binary classification, the last column is the target.

Task:


1.   Load the dataset.

2.   Use a label encoder to encode the target.

3.   Train-Test split 80-20. Use 42 as random seed.

4.  Train a Decision Tree on the dataset and report the accuracy result.

5.  Improve the Decision Tree definining a parameter grid and using Grid Search.

6. Test a different classification model, the SVC: https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

7. Which has a higher accuracy?

In [1]:
import pandas as pd

df = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/undocumented/connectionist-bench/sonar/sonar.all-data", header = None)

In [ ]:
df[60] # this is the label

0      R
1      R
2      R
3      R
4      R
      ..
203    M
204    M
205    M
206    M
207    M
Name: 60, Length: 208, dtype: object